// $color1:rgb(147, 147, 70);
// $secondrycolor:aqua;
// $fontsize:20px;
// $margin-small:5px;
// $font-style:arial;
$primary-color:#008fe2;
$secondrycolor:#2d529f;
$dark-color:rgb(29,33,29);
$font_color:#777777;
$light-color:white;
$font-style:sans-serif;