.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-style;
    font-weight: 700;
    background: transparent;
    font-size: 12px;


    &--rectangle {
        padding: 9px 11px;
        color: $primary-color;

        &:hover {
            @include hover($secondrycolor);
        }

    }

    &--rounded {
        border: 2px solid $dark-color;
        padding: 9px 17px;
        border-radius: 30px;
        color: $dark-color;

        &:hover {
            @include hover($dark-color);
        }
    }

}

